/.idea/inspectionProfiles/Project_Default.xml
/.idea/jsLibraryMappings.xml
/.idea/*
/.idea/**
/.idea


/files.zip
/files*.zip
/server/output/*.exe
/server/*.exe
/server/output/log/
/Claude*framework_*.json
/.claude/
/.vscode/
/server/output/*.panic
/server/internal/protocol/*.pb.go
/output/
/server/output/postapocgame.db
/server/*/postapocgame.db
*.cs.uid
